/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

form.quickAddSubtitle{
    height: 40px;
}

ul.subtitleList{
    position: relative;
    overflow: auto;
    height: 500px;
    width: 300px;
}

ul.timeline{
   list-style: none;
    cursor: pointer;
    background: gray ;
    height:30px;
    padding: 10px;
}

ul.timeline li{
    position: relative;
    float: left;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
div.subtitleBubbleList {
    position: relative;
    cursor: pointer;
    background: gray ;
    height:30px;
    padding: 10px;
}
div.subtitleBubbleList div.subtitleBubble{
    float:left;
    background-color: gray;
    color: white;
    border: 1px solid black;
}

