<div >
    <button ng-click='resetSubtitling()'>Reset Subtitlting</button>
    <form class="quickAddSubtitle" ng-submit='addSubtitle(newSubtitleText)'>
    <input ng-model="newSubtitleText" required/>
    </form>
    <ul class="subtitleList">
        <li ng-repeat='subtitle in subtitles' amara-editable-subtitle>
            <span>{{subtitle.start_time}} -- {{subtitle.endTime}}</span><br>
            <p contenteditable="true" ng-model="subtitle.text" ng-bind='subtitle.text'>{{subtitle.text}}</p>
            <a href="#" ng-click="removeSubtitle(subtitle)">X</a>
        </li>
    </ul>
</div>

