<div  sync-panel>
    <ul class="timebar" >
    </ul>
    <div class='timeline' ng-controller='TimeLine'>
        <div ng-repeat='subtitle in subtitlesInView' ng-controller='SubtitleBubble' data-subtitle-bubble></div>
    </div>
    <div class='timelineTools'>

    </div>


    <div class='subtitlesVertical'>
        <form class="quickAddSubtitle" ng-submit='addSubtitle(newSubtitleText)'>
            <input ng-model="newSubtitleText" required/>
        </form>
        <ul class="subtitleList" ng-controller='SubtitleList'>
            <li ng-repeat='subtitle in subtitles' amara-editable-subtitle>
                <span class="subtitleTime small">{{subtitle.start_time|showTime}}</span><br>
                <p contenteditable="true" ng-model="subtitle.text" ng-bind='subtitle.text'>{{subtitle.text}}</p>
                <a class='hidden' href="#" ng-click="removeSubtitle(subtitle)">X</a>
            </li>
        </ul>
    </div>
</div>