<div  sync-panel>
    <div class="timebar" >
        <span class="timeNeedle"></span>
        <div class='timelineInner'></div>
    </div>
    <div class='track' ng-controller='Track'>
        <div class='timelineInner'>
        <div ng-repeat='subtitle in subtitlesInView' ng-controller='SubtitleBubble' data-subtitle-bubble>
            <div class="text">{{subtitle.text}}</div>
        </div>
            </div>
    </div>
    <div class='timelineTools'>

    </div>


    <div class='subtitlesVertical' ng-controller='SubtitleList'>
        <form class="quickAddSubtitle" ng-submit='addSubtitle(newSubtitleText)'>
            <input ng-model="newSubtitleText" required placeholder="Add subtitle"/>
        </form>
        <ul class="subtitleList" subtitle-list >
            <li ng-repeat='subtitle in subtitles' amara-editable-subtitle ng-controller='EditableSubtitle'>
                <span class="subtitleTime small">{{subtitle.startTime|toClockTime}}</span><br>
                <p contenteditable="true" ng-model="subtitle.text" ng-bind='subtitle.text'>{{subtitle.text}}</p>
                <div ng-show="active">
                <a  href="#" ng-click="removeSubtitle(subtitle)">X</a>
                </div>
            </li>
        </ul>
    </div>
</div>