<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body>
<div class='header'>
    <p>Amara: <span class='languageName'>English Subtitles for</span><span class="mainVideoTitle"> Go the Fuck to Sleep</span></p>
</div>
<div class='mainSubtitlingArea'>
    <div class="videoPlayerContainer"></div>
    <div ng-controller='VideoPlayerCallToAction' class="videoPlayerCallToAction">
        <ng-switch on="isPlaying">
            <button class="playBig" ng-switch-when='false' ng-click='onPlayPausePressed()'>Play</button>
            <button class="pauseBig" ng-switch-when='true' ng-click='onPlayPausePressed()'>Pause</button>
        </ng-switch>
        <span class='currentPlayerTime large'>{{playheadTime|toClockTime}}{{playheadTime|timeFraction}}</span>
        <select name="playTimeMode" ng-model="playTimeMode">
            <option value="shortbursts">Play for 4 seconds</option>
            <option value="nomanagement">You're on your own</option>
            <option value="typingdetection">Play while you type</option>
        </select>
    </div>
    <div ng-view></div>
</div>
<div class='tools'>
    <h2>Help goes here</h2>
    <p> Some help text</p>
    <h3>Colaboration <Tool></Tool>s</h3>
</div>


  <script src="lib/underscore-min.js"></script>
  <script src="lib/jquery-1.8.2.min.js"></script>
    <script src="lib/raphael-min.js"></script>

  <script src="lib/angular/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  <script src="js/timebar.js"></script>
  <script src="js/timeline-track.js"></script>
  <script src="js/timeline-track-item.js"></script>
</body>
</html>
